body,html{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

.img-fluid {
	max-width: 500px;
	max-height: 500px;
}
/*.jumbotron{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}*/

